.container {
	margin-top: 5%;
	margin-bottom: 20%;
}

.board {
  width: 320px;
  margin: auto;
  position: static;
}

.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 24px;
}

.row {
  width: 320px;  
  font-size: 0;
}  

.row-0, .row-1 {
  border-bottom: solid black 3px;
}

.col-0, .col-1 {
  border-right: solid black 3px;  
}

.marker {
	position: absolute;
	font-size: 50px;
	text-align: center;
	padding-top: 20px;
	padding-left: 30px;
	color: red;
}

#results {
  font-size: 36px;
  text-align: center;
  color: red;
}